* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.logo_img {
    width: 100px;
}

li {
    list-style: none;
}

.cart {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

a:hover {
    color: blue;
}

header {
    position: relative;
    padding: 0 32px;
    height: 100px;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar .logo a {
    font-size: 24px;
    font-weight: bold;

}

.navbar .links {
    display: flex;
    gap: 32px
}

.navbar .toggle_btn {
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

section .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 100px;
    margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    animation: text-animation 1s 1 ease-in-out;
    transition: 0.4s ease all;
}

@keyframes text-animation {

    10% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }

}

.action_btn {
    background-color: blue;
    color: white;
    padding: 8px 16px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: white;
}

.action_btn:active {
    scale: 0.95;
}

.dropdown_menu {
    /* display: none; */
    position: absolute;
    right: 32px;
    top: 60px;
    height: 0;
    width: 200px;
    background: rgba(225, 225, 225, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: auto;
}

.dropdown_menu li {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu {
    /* width: 100%; */
    padding: 110px 0;
}

.menu h1 {
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.menu h1 span {
    color: blue;
    margin-left: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.menu h1 span::after {
    content: "";
    /* width: 100%; */
    height: 2px;
    background: green;
    display: block;
    position: relative;
}

.menu .menu_box {
    /* width: 95%; */
    margin: 0 auto;
}

.menu .menu_box .menu_card {
    width: 50px;
    /* height: 480px; */
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.menu .menu_box .menu_card .menu_image {
    /* width: 300px; */
    /* height: 245px; */
}

.menu .menu_box .menu_card .menu_image img {
    /* width: 50px; */
}

@media(max-width: 992px) {

    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }

    section .main {
        display: flex;
        flex-direction: column;
    }

    .dropdown_menu {
        left: 32px;
        width: unset;
    }

    section .main {
        display: flex;
        flex-direction: column;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-align: left;
    }

    .main_text,
    .main_image {
        width: 100%;
        padding: 100px 50px;
    }
}